
:root {
  --background: #ffffff;
  --foreground: #212121;
  --hovercolor: #ff0000;
  --font-inter: 'Inter', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --font-walter: 'Walter Turncoat', sans-serif;

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  margin:0;
}
nav.main-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  padding:10px;
  color:var(--foreground);
  text-decoration: none;
}
nav.main-nav a{
  font-family: var(--font-raleway);
  font-size: 1.1em;
  font-weight: 500;
}
nav.main-nav a:hover{
  color:var(--hovercolor);
}
nav.main-nav a.main-logo{
  padding-top:45px;
  padding-bottom: 30px;
}
.full-height{
  height:100vh;
}
.fixed-nav{
  width: 275px;
  position:fixed;
  top: 0;
  box-shadow: 0 0 4px #cecece;
}
.left-gap{
  margin-left:275px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
